In [ ]:
print('Welcome to AI world!')

Welcome to AI world!

In [ ]:
print('Hello, Ali and Babar')

Hello, Ali and Babar

In [ ]:
# prompt: Modify the code below to have it say hello to me.
#      print("Hello, World!")
#      My name is Hasnain

print("Hello, Hasnain!")

Hello, Hasnain!

In [ ]:
# this is a comment, which Python won't execute

In [ ]:
# error in the following line of code
# print('Hello, world!)
# skipping a quotation mark from end, will cause an error

In [ ]:
# multiline string: 3 quotation mark statement
print(''' Hello
      world!''')

 Hello
      world!

In [ ]:
# type() function: it states the data type. e.g. str, int, float
type('Hasnain')

str

In [ ]:
type(232)

int

In [ ]:
type(32.43)

float

In [ ]:
# python as a Calculator
print(32232+ 43)

32275

In [ ]:
print(323 ** 32)

197006572197363553789152535885229716877220373523494064577673832606945916127278721

In [ ]:
# Order of operations
# converting Fah to Cel

print((75 -32 ) * 5/9)

23.88888888888889

In [ ]:
# Lesson 6: Ex

print('''Welcome to
world of Python''')

type(23)
# type(-)

# convert 7 feet to meters

print(6 * .3048)

Welcome to
world of Python
1.8288000000000002

In [ ]:
type(434)

int

In [ ]:
print(4343)
type(print)

4343

builtin_function_or_method

In [ ]:
# progress so far:

# strings representing text: 'Hello'

# Integers and floats represent numbers:
# integers: 232, 32, -3, 0
# floats: 3.32, -2.3, 0.32

# display data to screen
# print('Hello')
# print (23)

# use python as a calculator:
# print(3 * 33)

In [ ]:
# Lesson 7: Displaying text and calculations together

In [ ]:
# f-strings: f stands for formatted
# they are used for performing calculations witin a print statement

In [ ]:
# e.g. below

In [ ]:
print("The temperature 75F in degrees Celsius is ((75 - 32) * 5 / 9)C")

The temperature 75F in degrees Celsius is ((75 - 32) * 5 / 9)C

In [ ]:
print(f'The temperature 75F in degrees Celsius is {((75 - 32) * 5 / 9)}C')

The temperature 75F in degrees Celsius is 23.88888888888889C

In [ ]:
# how python carries out the print() statement

print('Isabel is 32 years old')

# 1. the word 'print' tells python to display to screen
# 2. () checks for opening and closing parentheses
# 3. '' checks for a quotation mark, checks for match to close
# 4. text inside quotation marks: python displays everything between the quotes to the screen exactly as written

Isabel is 32 years old

In [ ]:
# how python interprets f-strings

print(f'Isabel is {32/2} dog years old')

# 1. the word 'print' tells python to display to screen
# 2. () checks for opening and closing parentheses
# 3. f: it knows this is a formatted string
# 4. '' checks for a quotation mark, checks for match to close
# 5. {} checks for opening and closing curly braces
# 6. numbers/ variables inside the curly braces carries out calculations

Isabel is 16.0 dog years old

In [ ]:
# in order to change from float to integer (or whole number)

# use ' :.0f ' after calculation within curly braces
# 0 represents number of decimal places you wish to add

# e.g. below:

print(f"Isabel is {28/7:.0f} dog years old.")

Isabel is 4 dog years old.

In [ ]:
# another e.g.

print(f'The temperature 75F in degrees Celsius is {(75 - 32) * 5 / 9:.1f}C')

The temperature 75F in degrees Celsius is 23.9C

In [ ]:
# multi-line f-string:

print(f"""
    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is {8 * 29.5735} ml.
    And 100ml of water is {100 / 29.5735} fluid ounces.
""")

    Most countries use the metric system for recipe measurement,
    but American bakers use a different system. For example, they use
    fluid ounces to measure liquids instead of milliliters (ml).

    So you need to convert recipe units to your local measuring system!

    For example, 8 fluid ounces of milk is 236.588 ml.
    And 100ml of water is 3.381405650328842 fluid ounces.

In [ ]:
# extra practise

# Q1: # Modify the code to print your age

print(f"I am {54/2} years old.")

# Q2: fix code
print(f"There are {365/7} weeks in a year")

# Q3: complete code
print(f"The area of a square with side 5 cm is {5 * 5} cm squared.")

# Q4: Modify the code to display one decimal place

print(f"The house was a good size: 1200 square feet, or {1200 * 0.092903:.1f} meters squared!")

I am 27.0 years old.
There are 52.142857142857146 weeks in a year
The area of a square with side 5 cm is 25 cm squared.
The house was a good size: 1200 square feet, or 111.5 meters squared!

In [1]:
# Lesson 8: Variables

In [2]:
age = 32
print(age)

32

In [3]:
name = 'asif'
gname_height = 12.1

In [4]:
print(f'{name} is {age} years old')
print(f'Height of {name} is: {gname_height}')

asif is 32 years old
Height of asif is: 12.1

In [5]:
score = 0
print(score)

0

In [6]:
score = score + 23;
score = score + 100
print(score)

123

In [9]:
# extra practise

# Q1: Create a variable called 'my_name' and assign it the value of your name as a string. Then print out a greeting using the variable, like "Hello, Hasnain!"

my_name = 'Hasnain'
print(f'Welcome {my_name}!')


# Q2: Enter your favorite number below and store it in a variable called 'fav_num'. Print out a message telling you what your favorite number plus 10 is.

fav_num = 7
fav_num = fav_num + 10
print(f"Your favorite number plus 10 is {fav_num}")


# Q3: Create two variables, 'countries_visited' and 'countries_to_visit'
# Assign them the number of countries you've been to and the number of countries you hope to visit. Then complete the print statement.

countries_visited = 0
countries_to_visit = 190

print(f"""I have visited {countries_visited} countries. I plan to visit {countries_to_visit} more countries,
      and when I'm done I will have visited {countries_to_visit} countries.""")

Welcome Hasnain!
Your favorite number plus 10 is 17
I have visited 0 countries. I plan to visit 190 more countries,
      and when I'm done I will have visited 190 countries.

In [10]:
# Lesson 9: Building LLM prompts with variables

In [11]:
# Lesson 10: Functions - Actions on Data

In [12]:
# Len function: len stands for length

In [13]:
# e.g. below

print( len('Welcome!'))

8

In [14]:
print(round(32.1))

32

In [15]:
print(round(32.6))

33

In [16]:
print(round(32.5))

32

In [17]:
print(round(32.51))

33

In [18]:
string_length = len("Hello World!")
print(string_length)

12